.seccion-01 {
    display: flex;
    align-items: center;
    background-color: rgb(227, 204, 253);
    justify-content: center;
    height: 500px;
}
.seccion-01 img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
    display: block;
    border-radius: 25px;
}


.seccion-02{
    display: flex;
    align-items: center;
    background-color: rgb(253, 255, 220);
    justify-content: center;
    height: 600px;
    gap: 10px;
}
.image-input {
    position: absolute;
    top: 320px; 
    left: 50px; 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 5px;
    border-radius: 4px;
}
.image-container {
    position: relative;
    display: inline-block;
    
}

.seccion-02 button{
    position:relative;
    top: 270px;
    right: 450px;
}
.seccion-03{
    display: flex;
    align-items: center;
    background-color: rgb(245, 221, 255);
    justify-content: center;
    height: 200px;
    gap: 10px;
}

.imagen {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    display: block;
    border-radius: 25px;
}


